
{{>_container}}
<h3 class="mb-4">Editar Empresa</h3>

{{#each empresa}}

{{#if nome}}
<div class="card">
    <div class="card-body">
        <form action="/usuario/empresa/edit" method="post">
            <input type="hidden" name="id" value="{{_id}}">
            <label for="">Empresa: </label>
            <input type="text" name="nome" placeholder="Nome da empresa" required class="form-control" value="{{nome}}">
            <label for="">NIF: </label>
            <input type="text" name="nif" placeholder="NIF da empresa" required class="form-control" value="{{nif}}">
            <button class="btn  mt-4" style="background-color: #e84545; color: #fff;">Salvar</button>
        </form>
    </div>
</div>

{{/if}}

{{/each}}